/* Base font size for mobile screens */
html {
  font-size: 16px;
}
@media (min-width: 340px) {
  html {
    font-size: 19px;
  }
}
/* Font sizes for tablet screens */
@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

/* Font sizes for desktop screens */
@media (min-width: 1024px) {
  html {
    font-size: 20px;
  }
}

/* Font sizes for large desktop screens */
@media (min-width: 1200px) {
  html {
    font-size: 22px;
  }
}

/* GENERAL */
body {
  font-family: "Open Sans", sans-serif !important;
}

footer {
  font-size: 0.8rem;
}

.container h1 {
  margin: 1rem 0 0.5rem;
  font-size: 1.8rem;
}
.container h2 {
  font-size: 1.4rem;
}
.container h4 {
  font-size: 1.2rem;
}
.navbar-nav .dropdown-menu.show a.dropdown-item {
  font-size: 0.65rem;
  /* width: 50px!important; */
}

@media all and (max-width: 1024px) {
  .footer-info {
    flex-direction: column;
  }
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
  position: absolute;
  min-width: 4.3rem!important;
 
  overflow: hidden;
}

@media all and (min-width: 1024px) {
  .cb {
    border: 1px solid rgb(0 0 0 / 6%);
    border-radius: 18px;
  }
}
/* GENERAL  END */

/* Home Page */

/* Section Title Container*/
.hp-section-title {
  display: flex;
  align-items: center;
  height: 80px;
  font-family: monospace !important;
}
.hp-section-title h2 {
  width: auto;
  padding: 0;
  margin: 0 0 0 5px;
  font-size: 1rem;
  font-family: monospace;
}
.hp-section-title img {
  width: 28px;
  height: 28px;
  padding: 0px;
}
/* Section Title Container END */

/* Youtube Widget */
.youtube-card {
  width: 32%;
  height: 340px;
}
@media all and (max-width: 1000px) {
  .youtube-card {
    width: 100%;
  }
  .youtube-stack {
    flex-direction: column !important;
  }
}

/* BTCFearAndGrid - Main Page Container*/
/* .btc-cread-and-fear{
  display: flex;
  justify-content: space-between;
} */
.btc-widget-fag {
  display: flex;
  flex-direction: column;
}
.btc-widget .apexcharts-title-text {
  font-family: "Open Sans" !important;
  font-size: 1rem;
  background-image: url("/public/assets/icons/currency-bitcoin.svg");
}
.btc-widget-candle-chart {
  position: relative;
}
.btc-widget-candle-chart .nav.nav-tabs {
  justify-content: end;
  border-bottom: none;
}
.btc-candles-chart-label {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}
.btc-candles-chart-label img {
  width: 36px;
}
.btc-candles-chart-label h2 {
  padding-left: 0.5rem;
  margin-bottom: 0;
  font-family: monospace !important;
}
.btc-widget-candle-chart button.nav-link {
  padding: 10px;
  border: 0;
  color: #000;
}
.btc-widget-candle-chart .tab-pane {
  margin-left: -0.5rem;
}
.btc-widget-hdata {
  max-width: 90%;
}
.btc-widget-hdata tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btc-widget-hdata tr,
.btc-widget-hdata td {
  border: none;
}
@media all and (min-width: 800px) {
  .btc-widget {
    display: flex;
    justify-content: space-between;
    border-radius: 0.375rem;
    border: 1px solid rgb(0 0 0 / 6%);
    padding: 0 1rem 0 0 !important;
  }
  .btc-widget-fag {
    flex-direction: row;
    overflow: hidden;
    padding: 0 1rem;
  }
  .btc-widget-candle-chart {
    padding: 2rem 2rem 1rem;
  }

  .btc-widget-fag-img {
    width: 58%;
  }
  .btc-widget-hdata {
    width: 25%;
    padding-top: 2.8rem;
    font-size: 0.7rem;
    font-weight: 700;
    margin: 0;
  }

  .btc-widget-hdata h5 {
    font-size: 0.8rem;
    padding-left: 0.5rem;
  }
  .btc-candles-chart-label {
    position: absolute;
    top: 2rem;
    left: 2rem;
  }
  .btc-candles-chart-label h2 {
    font-size: 0.8rem;
  }
  .btc-widget-candle-chart .tab-pane {
    margin-left: 0;
  }
}

/* Home Page END */

/* Coins Table */
table.coins-chart thead th {
  cursor: pointer;
}
.top10 {
  overflow-x: auto;
  overflow-y: none;
}

/* News  Page */
.news-list {
  padding: 0 !important;
}
.news-list-item.card {
  flex-direction: column !important;
  margin: 5px 0% !important;
  width: 100% !important;
  border: none;
}

.news-list-item-body {
  overflow: hidden;
  margin: 0;
  text-align: left;
  padding: 0;
}

@media all and (min-width: 770px) {
  .home-section {
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 18px;
  }

  .news-list-item-body {
    width: 50%;
    margin: 0 40px 0 20px;
    padding: 0rem !important;
  }
  .news-list-item.card {
    flex-direction: row !important;
    min-height: 280px;
    margin: 10px 0 30px !important;
    box-shadow: rgba(175, 170, 170, 0.65) 0px 0px 10px;
    border: 1px solid rgba(137, 130, 130, 0.33);
  }
  .news-list-item.card img {
    width: 380px;
    height: auto;
  }
  .news-article .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* News Item Page */
.breadcrumb a {
  color: #6c757d;
  font-size: 18px;
}
.breadcrumb li.breadcrumb-item.active {
  text-decoration: underline;
}

/* Fear&Greed lables */
[gaf-attr="Fear"] .gaf-lbl {
  color: #e39d64;
}
[gaf-attr="Extreme Fear"] .gaf-lbl {
  color: #db7d5b;
}
[gaf-attr="Neutral"] .gaf-lbl {
  color: #dfce60;
}
[gaf-attr="Greed"] .gaf-lbl {
  color: #9bbe44;
}
[gaf-attr="Extreme Greed"] .gaf-lbl {
  color: #79d75d;
}
.btc-widget-hdata td:nth-child(2) {
  border-radius: 50%;
  width: 44px;
  text-align: center;
  color: #fff;
}

[gaf-attr="Fear"] td:nth-child(2) {
  background-color: #e39d64;
}
[gaf-attr="Extreme Fear"] td:nth-child(2) {
  background-color: #db7d5b;
}
[gaf-attr="Neutral"] td:nth-child(2) {
  background-color: #dfce60;
}
[gaf-attr="Greed"] td:nth-child(2) {
  background-color: #9bbe44;
}
[gaf-attr="Extreme Greed"] td:nth-child(2) {
  background-color: #79d75d;
}
/* ANimations */
@keyframes moveSlideshow {
  0% {
    transform: translateX(40%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* New Styles */

/* News Feed */
.news-feed-count{
  width: 100%;
}
@media all and (max-width: 1024px) {
  .caption-footer p {
    display: none!important;
  }
}

@media all and (min-width: 1024px) {
  .news-carosel-container {
    display: flex;
    justify-content: space-between;
  }
  .other-news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.3rem;
    padding: 0px 0 20px;
  }
  .carousel-img-wrp{
    height: 23.6rem!important;
  }

}



/* News Grid / Carousel */
.carousel {
  border-radius: 0.375rem !important;
  overflow: hidden;
}
.carousel .carousel-inner {
  border-radius: 6px;
 
}
.carousel .carousel-indicators {
  display: none !important;
}

.carousel .carousel-control-prev,
.carousel .carousel-control-next {
  position: absolute;
  bottom: 11px;
  right: 10px;
  opacity: 1;
  height: auto;
  top: auto;
  width: auto;
  border: 1px solid #ffffff5e;
  background: rgba(0, 0, 0, 0.5);
}
.carousel .carousel-control-prev {
  right: 60px;
  left: unset;
}
